{% extends "base.html" %}

{% block title %}{{ article.title|striptags }} - {{ super() }}{% endblock title %}
{% block description %}{{ article.content|striptags|truncate(200)|escape }}{% endblock description %}
{% block keywords %}{% for tag in article.tags|sort %}{{ tag }}{% if not loop.last %}, {% endif %}{% endfor %}{% endblock keywords %}

{% block headerstyle %}
    {% if article.illustration %}
    <div class="header-container" style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('{{ SITEURL }}/images/{{ article.illustration }}'); background-position: center; background-size: cover;">
    {% elif NEST_HEADER_IMAGES %}
    <div class="header-container" style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('{{ SITEURL }}/images/{{ NEST_HEADER_IMAGES }}'); background-position: center; background-size: cover;">
    {% else %}
    <div class="header-container gradient">
    {% endif %}
{% endblock headerstyle %}

{% block content %}
    
    <div class="container content">
        <div class="article_image">
            <img {{ article.image }} />
        </div>

        <div> 
            <h1> {{ article.title }} </h1> 
        </div>

        <div class="article_author"> 
           By {{ article.author }} 
        </div>
        
        <div class="article_date"> 
            {{ article.locale_date }} 
        </div>
        
        {{ article.content }}

        {% if article.related_posts %}
            <h4>Articles connexes</h4>
            <dl class="dl-horizontal">
            {% for related_post in article.related_posts %}
                <dt>{{ related_post.locale_date}}</dt>
                <dd><a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a></dd>
            {% endfor %}
            </dl>
        {% endif %}
    
        <div class="neighbors">
             <ul>
                 {% if article.prev_article %}
                     <li class="previous_article">
                         <a href="{{ SITEURL }}/{{ article.prev_article.url}}">
                             {{ article.prev_article.title }}
                         </a>
                     </li>
                 {% endif %}
                 
                 {% if article.next_article %}
                     <li class="next_article">
                         <a href="{{ SITEURL }}/{{ article.next_article.url}}">
                             {{ article.next_article.title }}
                         </a>
                     </li>
                 {% endif %}
            </ul>
        </div>
    
        <div> 
            {% include "disqus_script.html" %}
        </div>
    </div>    
{% endblock %}
