{% extends "base.html" %}

{% block title %}{{ NEST_TAGS_HEAD_TITLE }} - {{ super() }}{% endblock title %}
{% block description %}{{ NEST_TAGS_HEAD_DESCRIPTION }}{% endblock description %}

{% block headerstyle %}
    {% if NEST_HEADER_IMAGES %}
    <div class="header-container" style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('{{ SITEURL }}/images/{{ NEST_HEADER_IMAGES }}'); background-position: center; background-size: cover;">
    {% else %}
    <div class="header-container gradient">
    {% endif %}
{% endblock headerstyle %}

{% block content %}
    <div class="archive-container">
        <div class="container content archive">
            <h2><a href="{{ SITEURL }}/tags.html">{{ NEST_TAGS_CONTENT_TITLE }}</a></h2>
            <dl class="dl-horizontal">
                {% for tag, articles in tags|sort %}
                {% set articles_count = articles | count %}
                <dt_tags><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></dt_tags> &nbsp; 
            	{% endfor %}
            </dl>
        </div>
    </div>
     
    <!-- Footer -->
    <div class="footer gradient-2">
        <div class="container footer-container ">
            <div class="row">
                <!-- <a href="#top">Back to top</a> -->
            </div>
        </div>
    </div>
    <!-- /Footer -->

{% endblock content %}




