{% extends "base.html" %}

{% block title %}{{ NEST_TAGS_HEAD_TITLE }} - {{ super() }}{% endblock title %}
{% block description %}{{ NEST_TAGS_HEAD_DESCRIPTION }}{% endblock description %}

{% block headerstyle %}
    {% if NEST_HEADER_IMAGES %}
    <div class="header-container" style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('{{ SITEURL }}/images/{{ NEST_HEADER_IMAGES }}'); background-position: center; background-size: cover;">
    {% else %}
    <div class="header-container gradient">
    {% endif %}
{% endblock headerstyle %}

{% block content %}

    <div class="archive-container">
        <div class="container content archive">

            <h2><a href="{{ SITEURL }}/tags.html">{{ NEST_TAGS_CONTENT_TITLE }}</a></h2>
            <ul class="tagcloud">
                {% for tag in tag_cloud %}
                    <li class="tag-{{ tag.1 }}">
                        <a href="{{ SITEURL }}/{{ tag.0.url }}">
                        {{ tag.0 }}
                            {% if TAG_CLOUD_BADGE %}
                                <span class="badge">{{ tag.2 }}</span>
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            
        </div>
    </div>

     
    <!-- Footer -->
    <div class="footer gradient-2">
        <div class="container footer-container ">
            <div class="row">
                <a href="{{ SITEURL }}">Home</a> 
                <span style="display:inline-block; width: 2%;"></span>
                |
                <span style="display:inline-block; width: 2%;"></span>
                <a href="{{ SITEURL }}/categories.html">Categories</a> 
                <span style="display:inline-block; width: 2%;"></span>
                |
                <span style="display:inline-block; width: 2%;"></span>
                <a href="{{ SITEURL }}/tags.html">Tags</a>
            
            </div>
        </div>
    </div>
    <!-- /Footer -->

{% endblock content %}




