appnope==0.1.0
attrs==19.1.0
backcall==0.1.0
beautifulsoup4==4.7.1
bleach==3.1.0
blinker==1.4
bs4==0.0.1
decorator==4.4.0
defusedxml==0.6.0
docutils==0.14
entrypoints==0.3
feedgenerator==1.9
ipython==7.5.0
ipython-genutils==0.2.0
jedi==0.13.3
Jinja2==2.10.1
jsonschema==3.0.1
jupyter-core==4.4.0
Markdown==3.1.1
MarkupSafe==1.1.1
mistune==0.8.4
nbconvert==5.5.0
nbformat==4.4.0
pandocfilters==1.4.2
parso==0.4.0
pbr==5.2.0
pelican==4.0.1
pelican-alias==1.1
pexpect==4.7.0
pickleshare==0.7.5
prompt-toolkit==2.0.9
ptyprocess==0.6.0
Pygments==2.4.0
pyrsistent==0.15.2
python-dateutil==2.8.0
pytz==2019.1
six==1.12.0
smartypants==2.0.1
soupsieve==1.9.1
stevedore==1.30.1
testpath==0.4.2
traitlets==4.3.2
typogrify==2.0.7
Unidecode==1.0.23
virtualenv==16.6.0
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
wcwidth==0.1.7
webassets==0.12.1
webencodings==0.5.1
