blinker==1.4
docutils==0.14
feedgenerator==1.9
Jinja2==2.10.1
MarkupSafe==1.1.1
pbr==5.2.0
pelican==4.0.1
pelican-alias==1.1
Pygments==2.4.0
python-dateutil==2.8.0
pytz==2019.1
six==1.12.0
stevedore==1.30.1
Unidecode==1.0.23
virtualenv==16.6.0
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
