{% extends "base.html" %}

{% block title %}{{ NEST_ARCHIVES_HEAD_TITLE }} - {{ super() }}{% endblock title %}
{% block description %}{{ NEST_ARCHIVES_HEAD_DESCRIPTION }}{% endblock description %}

{% block headerstyle %}
    {% if NEST_HEADER_IMAGES %}
    <div class="header-container" style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('{{ SITEURL }}/images/{{ NEST_HEADER_IMAGES }}'); background-position: center; background-size: cover;">
    {% else %}
    <div class="header-container gradient">
    {% endif %}
{% endblock headerstyle %}


{% block content %}
    <div class="archive-container">
        <div class="container content archive">
            <h2><a href="{{ SITEURL }}/archives.html">{{ NEST_ARCHIVES_CONTENT_TITLE }}</a></h2>
            <dl class="dl-horizontal">
            	{% for article in articles %}
            	<dt><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dt>
            	<dd class="hidden-xs">{{ article.locale_date}}</dd>
            	{% endfor %}
            </dl>
        </div>
    </div>

    <!-- /Footer -->

{% endblock content %}

