{% extends "base.html" %}

{% block title %} {{ article.title|striptags }} - {{ super() }} {% endblock title %}
{%- block ogtitle -%} {{ article.title|striptags }} {%- endblock ogtitle -%}
{%- block ogtype -%} article {%- endblock ogtype -%}
{%- block ogurl -%} {{ SITEURL }}/{{ article.url }} {%- endblock ogurl -%}

{%- block twittercard -%}Summary_large_image{%- endblock twittercard -%}"

{% block keywords %}
    {% for tag in article.tags|sort -%}
        {{ tag }}
        {%- if not loop.last -%}, 
        {%- endif -%}
    {% endfor %}
{% endblock keywords %}

{% block description %}
    {%- if article.summary -%}
    {{ article.summary|striptags|truncate(200)|e }}
    {%- else -%}
    {{ article.content|striptags|truncate(200)|e }}
    {%- endif -%}
{% endblock description %}

# image should be ideally 1200 pixels x 627 pixels (1.91/1 ratio)
{% set string =  article.image|safe %}
{% set list1 = string.split('"') %}
The grass is {{ testing2 }} and now  {{ list1[0] }} and the boat is {{ list1[1] }}

{% block ogimage -%} 
    {%- if article.image -%}
    {{ SITEURL }}{{ list1[1] }}
    {%- else -%}
    {{ SITEURL }}{{NEST_HEADER_LOGO_BIG }}
    {%- endif -%}
{%- endblock ogimage %}

{% block headerstyle %}
    {% if article.illustration %}
    <div class="header-container" style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('{{ SITEURL }}/images/{{ article.illustration }}'); background-position: center; background-size: cover;">
    {% elif NEST_HEADER_IMAGES %}
    <div class="header-container" style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('{{ SITEURL }}/images/{{ NEST_HEADER_IMAGES }}'); background-position: center; background-size: cover;">
    {% else %}
    <div class="header-container gradient">
    {% endif %}
{% endblock headerstyle %}

{% block content %}
    
    <div class="container content">
        <div> 
            <h1> {{ article.title }} </h1> 
        </div>
        
        {# this is a jinja comment. ## is a single line comment #} 
        {% if article.summary %}
        <div class="summary">
            {{ article.summary }}
        </div>
        {% endif %}
        
        {% if article.image %}
        <div class="article_image">
            <img {{ article.image }} />
        </div>
        {% endif %}

        <div class="article_author"> 
           By {{ article.author }} 
        </div>
        
        <div class="article_date"> 
            {{ article.locale_date }} 
        </div>
        
        {{ article.content }}

        {% if article.related_posts %}
            <h4>Articles connexes</h4>
            <dl class="dl-horizontal">
            {% for related_post in article.related_posts %}
                <dt>{{ related_post.locale_date}}</dt>
                <dd><a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a></dd>
            {% endfor %}
            </dl>
        {% endif %}
        <div id="sub_req">
            </br> Thanks for reading! If you'd like to know when I publish something new, please <a href="{{ SITEURL }}/pages/subscribe" >subscribe!</a> 
            <br>
        {% if article.share_post and article.status != 'draft' %}
        <a href="{{article.share_post['twitter']}}" target="_blank" ><img src="{{ SITEURL }}{{TWITTER_ICON }}" alt="Twitter" style="margin-bottom:0px;margin-top:10px;width:40px;height:40px;display:inline-block"></a>
        &nbsp; &nbsp;
        <a href="{{article.share_post['facebook']}}" target="_blank"><img src="{{ SITEURL }}{{FACEBOOK_ICON }}" alt="Facebook" style="margin-bottom:0px;margin-top:10px;width:40px;height:40px;display:inline-block"></a>
        &nbsp; &nbsp;
        <a href="{{article.share_post['linkedin']}}" target="_blank"><img src="{{ SITEURL }}{{LINKEDIN_ICON }}" alt="Email" style="margin-bottom:0px;margin-top:10px;width:40px;height:40px;display:inline-block"></a>
        &nbsp; &nbsp;
        <a href="{{article.share_post['email']}}" target="_blank"><img src="{{ SITEURL }}{{EMAIL_ICON }}" alt="Email" style="margin-bottom:0px;margin-top:10px;width:40px;height:40px;display:inline-block"></a>
        {% endif %}
         </div>
        
         <div class="neighbors">
             <ul>
                 {% if article.prev_article %}
                     <li class="previous_article">
                         <a href="{{ SITEURL }}/{{ article.prev_article.url}}">
                             {{ article.prev_article.title }}
                         </a>
                     </li>
                 {% endif %}
                 
                 {% if article.next_article %}
                     <li class="next_article">
                         <a href="{{ SITEURL }}/{{ article.next_article.url}}">
                             {{ article.next_article.title }}
                         </a>
                     </li>
                 {% endif %}
            </ul>
        </div>
    
        <div> 
            {% include "disqus_script.html" %}
        </div>
    </div>    
{% endblock %}
