{% extends "base.html" %}

{% block title %}{{ NEST_CATEGORIES_HEAD_TITLE }} - {{ super() }}{% endblock title %}
{% block description %}{{ NEST_CATEGORIES_HEAD_DESCRIPTION }}{% endblock description %}

{% block headerstyle %}
    {% if NEST_HEADER_IMAGES %}
    <div class="header-container" style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('{{ SITEURL }}/images/{{ NEST_HEADER_IMAGES }}'); background-position: center; background-size: cover;">
    {% else %}
    <div class="header-container gradient">
    {% endif %}
{% endblock headerstyle %}

{% block content %}
    <div class="archive-container">
        <div class="container content archive">

            <div id="sort_posts">
                <h3><a href="{{ SITEURL }}/archives.html">Sort by date</a></h3>
            </div>
            
        	{% for category, articles in categories %}
            <h2>{{ category }}</a></h2>
            <dl class="dl-horizontal">
            	{% for article in articles %}
            	<dt><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dt>
            	<dd class="hidden-xs">{{ article.locale_date}}</dd>
                {% endfor %}
            </dl>
            {% endfor %}
        </div>
    </div>


{% endblock content %}

