{% extends "base.html" %}

{% block title %}{{ NEST_INDEX_HEAD_TITLE }} - {{ super() }}{% endblock title %}
{% block description %}{{ NEST_INDEX_HEAD_DESCRIPTION }}{% endblock description %}

{% block headerstyle %}
    {% if NEST_HEADER_IMAGES %}
    <div class="header-container" style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('{{ SITEURL }}/images/{{ NEST_HEADER_IMAGES }}'); background-position: center; background-size: cover;">
    {% else %}
    <div class="header-container gradient">
    {% endif %}
{% endblock headerstyle %}

{% block content %}
        <div class="container content archive" style="text-align:center" >
            </br>
            {% for category, articles in categories %}
                <h2><a href="{{ SITEURL }}/{{ category.url }}"> {{ category }} </a></h2>
                </br>
            {% endfor %}
        </div>
{% endblock content %}


