{% extends "base.html" %}

{% block title %}{{ NEST_TAG_HEAD_TITLE }} {{ tag }} - {{ super() }}{% endblock title %}
{% block description %}{{ NEST_TAG_HEAD_DESCRIPTION }} {{ tag }}{% endblock description %}

{% block headerstyle %}
    {% if NEST_HEADER_IMAGES %}
    <div class="header-container" style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('{{ SITEURL }}/images/{{ NEST_HEADER_IMAGES }}'); background-position: center; background-size: cover;">
    {% else %}
    <div class="header-container gradient">
    {% endif %}
{% endblock headerstyle %}

{% block content %}
        <div class="container content archive">
            <h2>Posts tagged "{{ tag }}"</h2>
            <dl class="dl-horizontal">
            	{% for article in articles %}
            	<dt><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dt>
            	<dd class="hidden-xs">{{ article.locale_date}}</dd>
            	{% endfor %}
            </dl>
            <div id="go_back">
             <h3><a style="font-weight:normal;" href="{{ SITEURL }}/tags"> All tags </a></h3>
            </div>
        </div>


{% endblock content %}
